Autoevaluacion.json
{
  "name": "Autoevaluacion",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        -64
      ],
      "id": "c4c3a9d6-d62e-46e8-88d2-41f854c64f18",
      "name": "Telegram Trigger",
      "webhookId": "d39310cb-d4cc-48a1-9736-eaa034e6cbff",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual de un hospital.\n\nTu objetivo es responder preguntas de pacientes de forma clara, segura y estructurada.\n\nIMPORTANTE: Tu respuesta DEBE seguir SIEMPRE este formato exacto:\n\n1. Respuesta breve:\n(Explicación clara y simple en 2-3 oraciones)\n\n2. Explicación:\n(Desarrollo un poco más técnico pero entendible)\n\n3. Recomendación:\n(Qué debería hacer el paciente. Ej: consultar médico, reposo, estudios, etc.)\n\n4. Nivel de urgencia:\n(Bajo / Medio / Alto)\n\n5. Advertencia:\n(Aclarar que no reemplaza a un profesional si corresponde)\n\n---\n\nReglas importantes:\n\n- No inventes diagnósticos definitivos\n- No recetes medicamentos específicos\n- Usá lenguaje claro para personas sin conocimiento médico\n- Respondé SIEMPRE en español\n- Mantené coherencia con conocimientos médicos generales\n- Evitá respuestas vacías o demasiado cortas\n- La respuesta completa debe tener al menos 80 palabras\n\n---\n\nEjemplo de formato esperado:\n\n1. Respuesta breve:\nLa fiebre es una elevación de la temperatura corporal generalmente causada por infecciones.\n\n2. Explicación:\nOcurre cuando el sistema inmune responde a virus o bacterias, aumentando la temperatura para combatirlos.\n\n3. Recomendación:\nDescansar, hidratarse y controlar la temperatura. Consultar si supera los 38.5°C por varios días.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es orientativa y no reemplaza una consulta médica profesional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        -64
      ],
      "id": "73c6ce23-8a51-47b3-84e6-8fa4a40dff6f",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        128
      ],
      "id": "cd0a79d8-d8ad-4c28-bbc0-5b2f4573e6a2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        720
      ],
      "id": "48b9ea40-df54-4c9d-bc0b-959f75f1ee92",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Creamos un array (lista) donde vamos a guardar los resultados finales\nconst itemsOut = [];\n\n// Recorremos cada item que entra al nodo (n8n siempre trabaja con arrays)\nfor (const item of items) {\n\n  // Tomamos el texto de la respuesta (si no existe, usamos string vacío)\n  let text = item.json.output || \"\";\n\n  // Limpiamos posibles bloques tipo ```json ``` que a veces devuelve la IA\n  text = text.replace(/```json|```/g, \"\").trim();\n\n  // Inicializamos el puntaje en 0\n  let score = 0;\n\n  // ================================\n  // 1. VALIDAR ESTRUCTURA (vale 3 puntos)\n  // ================================\n  // Verificamos que estén TODAS las secciones obligatorias\n  const hasStructure =\n    text.includes(\"1. Respuesta breve:\") &&\n    text.includes(\"2. Explicación:\") &&\n    text.includes(\"3. Recomendación:\") &&\n    text.includes(\"4. Nivel de urgencia:\") &&\n    text.includes(\"5. Advertencia:\");\n\n  // Si cumple, sumamos 3 puntos\n  if (hasStructure) score += 3;\n\n\n  // ================================\n  // 2. VALIDAR LONGITUD (vale 2 puntos)\n  // ================================\n  // Contamos la cantidad de caracteres del texto\n  const length = text.length;\n\n  // Si está entre 80 y 500 caracteres, sumamos 2 puntos\n  if (length >= 80 && length <= 500) score += 2;\n\n\n  // ================================\n  // 3. VALIDAR NIVEL DE URGENCIA (vale 2 puntos)\n  // ================================\n  // Usamos una expresión regular para buscar:\n  // \"4. Nivel de urgencia: Bajo / Medio / Alto\"\n  const urgencyMatch = text.match(/4\\. Nivel de urgencia:\\s*(Bajo|Medio|Alto)/i);\n\n  // Si encuentra uno válido, suma 2 puntos\n  if (urgencyMatch) score += 2;\n\n\n  // ================================\n  // 4. EVITAR DIAGNÓSTICOS DIRECTOS (vale 1 punto)\n  // ================================\n  // Lista de palabras que NO queremos que aparezcan\n  const forbiddenWords = [\"tiene\", \"padece\", \"puede tener\", \"presenta\"];\n\n  // Revisamos si alguna de esas palabras está en el texto\n  const hasForbidden = forbiddenWords.some(word =>\n    text.toLowerCase().includes(word)\n  );\n\n  // Si NO hay palabras prohibidas, sumamos 1 punto\n  if (!hasForbidden) score += 1;\n\n\n  // ================================\n  // 5. CALIDAD EXTRA (vale 2 puntos)\n  // ================================\n  // Dividimos el texto en secciones usando los números (1. 2. 3. ...)\n  const sections = text.split(/\\d\\.\\s/).slice(1);\n\n  // Contador de secciones válidas\n  let validSections = 0;\n\n  // Recorremos cada sección\n  for (const section of sections) {\n\n    // Si la sección tiene más de 20 caracteres, la consideramos válida\n    if (section.trim().length > 20) {\n      validSections++;\n    }\n  }\n\n  // Si las 5 secciones tienen contenido suficiente, sumamos 2 puntos\n  if (validSections === 5) score += 2;\n\n\n  // ================================\n  // GUARDAMOS EL RESULTADO FINAL\n  // ================================\n  itemsOut.push({\n    json: {\n      score, // puntaje final\n      length, // cantidad de caracteres\n      structure_ok: hasStructure, // si cumple estructura\n      urgency_ok: !!urgencyMatch, // si urgencia es válida\n      no_diagnosis: !hasForbidden, // si evita diagnóstico\n      valid_sections: validSections // cuántas secciones son buenas\n    }\n  });\n}\n\n// Devolvemos los resultados a n8n\nreturn itemsOut;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ],
      "id": "d0145af0-6171-414b-bf29-b0407c796d6a",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Esta línea obtiene un espacio de memoria \"global\"\n// Es decir, datos que se guardan entre ejecuciones del workflow\n// (como si fuera una cajita donde guardás cosas para reutilizar después)\nconst globalData = $getWorkflowStaticData('global');\n\n\n// Acá verificamos si ya existe un contador llamado \"retries\"\n// Si NO existe (por ejemplo, la primera vez que corre el flujo)\nif (!globalData.retries) {\n  \n  // Entonces lo creamos y lo ponemos en 0\n  // Esto es como decir: \"arrancamos el contador desde cero\"\n  globalData.retries = 0;\n}\n\n\n// Acá aumentamos el contador en 1\n// O sea: cada vez que pasa por este nodo, suma 1\nglobalData.retries += 1;\n\n\n// Ahora devolvemos los datos del flujo (items)\n// pero agregándole el valor actual de \"retries\" a cada uno\nreturn items.map(item => ({\n  json: {\n    \n    // Mantenemos toda la info original del item\n    ...item.json,\n    \n    // Y le agregamos el número de intentos (retries)\n    retries: globalData.retries\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -64
      ],
      "id": "e71fdc1f-486d-47fb-a500-9d088144b2d0",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 9,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "110f7cc1-4724-4c3f-8f4f-7e862aed8797"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf5ec830-53c2-4984-a541-57fcfc7c742f",
                    "leftValue": "={{ $json.retries }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        640,
        -80
      ],
      "id": "e45ce58b-a891-4d57-a7df-86affd02946c",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{$(\"Telegram Trigger\").item.json.message.chat.id}}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -272
      ],
      "id": "ae63e80b-e7f8-4932-8ea8-838e6c8a4af8",
      "name": "Send a text message",
      "webhookId": "0eec2cb3-d69a-49e1-a8c6-df4e0d613990",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "Lo siento, no pude generar una respuesta médica confiable. Te recomiendo reformular la pregunta o consultar con un profesional.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -48
      ],
      "id": "41f6ae52-d812-4156-88a6-7d804ddc4a7c",
      "name": "Send a text message1",
      "webhookId": "d9df0941-71a1-4199-ac54-254a56e91bdc",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:\n{{ $('Telegram Trigger').item.json.message.text }}\nRespuesta original:\n{{ $('AI Agent').item.json.output }}\nErrores detectados:\n{{ JSON.stringify($('Code in JavaScript').item.json) }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual experto en mejorar respuestas generadas por IA.\n\nTu tarea es REESCRIBIR una respuesta anterior que fue evaluada como incorrecta o mejorable.\n\n---\n\nVas a recibir:\n\n1. PREGUNTA del usuario\n2. RESPUESTA ORIGINAL (incorrecta o imperfecta)\n3. MÉTRICAS DE EVALUACIÓN (JSON con errores detectados)\n\n---\n\nOBJETIVO:\n\nGenerar una NUEVA respuesta que:\n\n- Corrija TODOS los errores detectados\n- Cumpla estrictamente con el formato requerido\n- Sea clara, útil y segura para el paciente\n\n---\n\nFORMATO OBLIGATORIO (NO CAMBIAR):\n\n1. Respuesta breve:\n(2-3 oraciones claras y simples)\n\n2. Explicación:\n(Desarrollo más detallado pero fácil de entender)\n\n3. Recomendación:\n(Qué debería hacer el paciente)\n\n4. Nivel de urgencia:\n(Bajo / Medio / Alto)\n\n5. Advertencia:\n(Aclarar que no reemplaza a un profesional)\n\n---\n\nREGLAS IMPORTANTES:\n\n- NO des diagnósticos definitivos\n- NO recetes medicamentos específicos\n- Usá lenguaje claro (persona sin conocimientos médicos)\n- Respondé SIEMPRE en español\n- Mantené coherencia médica general\n- La respuesta debe tener mínimo 80 palabras\n- Debe tener EXACTAMENTE 5 secciones\n\n---\n\nUSO DE LAS MÉTRICAS:\n\nDebés usar las métricas para corregir errores:\n\n- \"structure_ok\": false → corregir estructura obligatoriamente\n- \"valid_sections\" < 5 → completar secciones faltantes\n- \"urgency_ok\": false → ajustar nivel de urgencia correctamente\n- \"no_diagnosis\": false → eliminar diagnósticos directos\n- \"score\" bajo → mejorar claridad, utilidad y calidad general\n\n---\n\nIMPORTANTE:\n\n- NO expliques qué corregiste\n- NO menciones las métricas en la respuesta final\n- NO hagas referencias a la respuesta anterior\n- SOLO devolvé la nueva respuesta corregida\n\n---\n\nAhora generá la mejor versión posible de la respuesta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        160
      ],
      "id": "8fac479f-28b7-4f9a-be06-9fac27a4ff23",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        384
      ],
      "id": "9972230f-f09f-4652-805e-ca9a4ac9fb1a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nglobalData.retries = 0;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -272
      ],
      "id": "f3c17699-a685-4916-88af-3eac235b80dd",
      "name": "Code in JavaScript2",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nglobalData.retries = 0;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -48
      ],
      "id": "0e20d5ac-267d-430f-8ca9-201542ce2a75",
      "name": "Code in JavaScript3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 1376,
        "width": 2272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -480
      ],
      "typeVersion": 1,
      "id": "59f86b5a-d427-4dc4-99c3-3f180dddd522",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        1680
      ],
      "id": "6bab8fbb-e0c2-4c24-8210-e32df4cc1bc9",
      "name": "Telegram Trigger1",
      "webhookId": "d39310cb-d4cc-48a1-9736-eaa034e6cbff",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual de un hospital.\n\nTu objetivo es responder preguntas de pacientes de forma clara, segura y estructurada.\n\nIMPORTANTE: Tu respuesta DEBE seguir SIEMPRE este formato exacto:\n\n1. Respuesta breve:\n(Explicación clara y simple en 2-3 oraciones)\n\n2. Explicación:\n(Desarrollo un poco más técnico pero entendible)\n\n3. Recomendación:\n(Qué debería hacer el paciente. Ej: consultar médico, reposo, estudios, etc.)\n\n4. Nivel de urgencia:\n(Bajo / Medio / Alto)\n\n5. Advertencia:\n(Aclarar que no reemplaza a un profesional si corresponde)\n\n---\n\nReglas importantes:\n\n- No inventes diagnósticos definitivos\n- No recetes medicamentos específicos\n- Usá lenguaje claro para personas sin conocimiento médico\n- Respondé SIEMPRE en español\n- Mantené coherencia con conocimientos médicos generales\n- Evitá respuestas vacías o demasiado cortas\n- La respuesta completa debe tener al menos 80 palabras\n\n---\n\nEjemplo de formato esperado:\n\n1. Respuesta breve:\nLa fiebre es una elevación de la temperatura corporal generalmente causada por infecciones.\n\n2. Explicación:\nOcurre cuando el sistema inmune responde a virus o bacterias, aumentando la temperatura para combatirlos.\n\n3. Recomendación:\nDescansar, hidratarse y controlar la temperatura. Consultar si supera los 38.5°C por varios días.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es orientativa y no reemplaza una consulta médica profesional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        1680
      ],
      "id": "7d8b8a5f-d018-4673-a800-9406fc0089e7",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1920
      ],
      "id": "d47d3399-6b90-4621-9de4-998dbb9ecbe6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        2464
      ],
      "id": "445307a1-02ba-4838-8837-2000309abace",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// Esta línea obtiene un espacio de memoria \"global\"\n// Es decir, datos que se guardan entre ejecuciones del workflow\n// (como si fuera una cajita donde guardás cosas para reutilizar después)\nconst globalData = $getWorkflowStaticData('global');\n\n\n// Acá verificamos si ya existe un contador llamado \"retries\"\n// Si NO existe (por ejemplo, la primera vez que corre el flujo)\nif (!globalData.retries) {\n  \n  // Entonces lo creamos y lo ponemos en 0\n  // Esto es como decir: \"arrancamos el contador desde cero\"\n  globalData.retries = 0;\n}\n\n\n// Acá aumentamos el contador en 1\n// O sea: cada vez que pasa por este nodo, suma 1\nglobalData.retries += 1;\n\n\n// Ahora devolvemos los datos del flujo (items)\n// pero agregándole el valor actual de \"retries\" a cada uno\nreturn items.map(item => ({\n  json: {\n    \n    // Mantenemos toda la info original del item\n    ...item.json,\n    \n    // Y le agregamos el número de intentos (retries)\n    retries: globalData.retries\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1680
      ],
      "id": "27bc5778-b5c2-4eb5-8bf3-57b0d8e63995",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "110f7cc1-4724-4c3f-8f4f-7e862aed8797"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf5ec830-53c2-4984-a541-57fcfc7c742f",
                    "leftValue": "={{ $json.retries }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        608,
        1664
      ],
      "id": "5212e39b-e851-4df5-b034-0f413b07ab75",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{$(\"Telegram Trigger1\").item.json.message.chat.id}}",
        "text": "={{ $('AI Agent2').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        1472
      ],
      "id": "be42ea5a-701c-4b6f-8430-8f7e1a68a63d",
      "name": "Send a text message2",
      "webhookId": "0eec2cb3-d69a-49e1-a8c6-df4e0d613990",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger1').item.json.message.chat.id}}",
        "text": "Lo siento, no pude generar una respuesta médica confiable. Te recomiendo reformular la pregunta o consultar con un profesional.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        1696
      ],
      "id": "34a62e53-ceeb-438c-9018-0eccabc637bc",
      "name": "Send a text message3",
      "webhookId": "d9df0941-71a1-4199-ac54-254a56e91bdc",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:\n{{ $('Telegram Trigger1').item.json.message.text }}\nRespuesta original:\n{{ $('AI Agent2').item.json.output }}\nfeedback:\n{ $(\"Code in JavaScript5\").item.json.feedback }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual de un hospital especializado en mejorar respuestas previamente evaluadas como incorrectas o de baja calidad.\n\nTu tarea es reescribir completamente una respuesta fallida, utilizando el feedback recibido para corregir errores, mejorar claridad, seguridad médica y cumplimiento de formato.\n\n📥 Vas a recibir:\nPregunta del paciente\nRespuesta anterior (incorrecta o deficiente)\nFeedback de evaluación con errores y sugerencias\n🎯 Tu objetivo:\n\nGenerar una nueva respuesta mejorada, que:\n\nCorrija TODOS los problemas señalados en el feedback\nMantenga coherencia con la pregunta original\nSea más clara, útil y segura que la anterior\nRespete estrictamente el formato requerido\n⚠️ FORMATO OBLIGATORIO (NO CAMBIAR):\nRespuesta breve:\n(Explicación clara y simple en 2-3 oraciones)\nExplicación:\n(Desarrollo un poco más técnico pero entendible)\nRecomendación:\n(Qué debería hacer el paciente)\nNivel de urgencia:\n(Bajo / Medio / Alto)\nAdvertencia:\n(Aclarar que no reemplaza a un profesional si corresponde)\n🚫 Reglas estrictas:\nNO reutilices la respuesta anterior tal cual → SIEMPRE reescribí\nNO ignores el feedback → DEBE reflejarse en la nueva respuesta\nNO inventes diagnósticos definitivos\nNO recetes medicamentos específicos\nNO uses lenguaje técnico complejo sin explicación\nNO omitas ninguna sección del formato\nLa respuesta debe tener mínimo 80 palabras\n🧠 Buenas prácticas:\nSi el feedback menciona falta de claridad → simplificá el lenguaje\nSi menciona riesgo médico → aumentá precaución y recomendaciones\nSi falta estructura → corregila estrictamente\nSi es muy corta → expandí con contenido útil\nSi es confusa → reorganizá ideas\n🧾 Salida esperada:\n\nSolo devolver la respuesta final corregida, sin explicaciones adicionales, sin mencionar el feedback ni la respuesta anterior."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        1904
      ],
      "id": "0427c7e8-6dfe-4263-b43a-bd703aacdfa5",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        2128
      ],
      "id": "89a5132f-19a0-41d7-964d-0448024d6f46",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nglobalData.retries = 0;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1472
      ],
      "id": "a9a86266-63e6-4f6d-be63-091a0060817d",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nglobalData.retries = 0;\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1696
      ],
      "id": "dc97769a-4b65-48b3-8240-0d7ebec97414",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "content": "",
        "height": 1376,
        "width": 2512,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        1264
      ],
      "typeVersion": 1,
      "id": "91acc357-2c4a-4133-b2c6-08fe35a93f20",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Sos un evaluador experto en respuestas médicas generadas por IA.\n\nTu tarea es evaluar la siguiente respuesta según criterios estrictos.\n\nCRITERIOS DE EVALUACIÓN:\n\nEstructura correcta (5 secciones obligatorias)\nClaridad y comprensión\nSeguridad médica (NO dar diagnósticos definitivos ni medicamentos con dosis)\nUtilidad para el paciente\nNivel de urgencia válido (Bajo/Medio/Alto)\n\nPUNTAJE:\n\nAsigná un score de 0 a 10 donde:\n\n9-10 → Excelente \n8→ Buena\n7 → Aceptable (mejorable)\n≤6 → Mala / insegura\n\nSALIDA OBLIGATORIA EN JSON:\n\n{\n\"score\": number,\n\"feedback\": \"texto corto con errores principales\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        1680
      ],
      "id": "1e0c4585-a192-406b-b6bf-78871feffc12",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        1872
      ],
      "id": "34d68651-e90e-4de6-8615-2ba25a235884",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 1. Obtener el string crudo\n  let raw = item.json.output;\n\n  // 2. Limpiar los ```json y ```\n  raw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n\n  // 3. Convertir string a JSON real\n  const parsed = JSON.parse(raw);\n\n  // 4. Devolver como JSON limpio\n  return {\n    json: parsed\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        1680
      ],
      "id": "af0c4a89-236c-44ef-b511-6866506b0297",
      "name": "Code in JavaScript4"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 867000569,
          "message": {
            "message_id": 85,
            "from": {
              "id": 8722030592,
              "is_bot": false,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "language_code": "en"
            },
            "chat": {
              "id": 8722030592,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "type": "private"
            },
            "date": 1776380412,
            "text": "fiebre"
          }
        }
      }
    ],
    "Code in JavaScript": [
      {
        "json": {
          "score": 8,
          "length": 1324,
          "structure_ok": true,
          "urgency_ok": true,
          "no_diagnosis": true,
          "valid_sections": 5
        }
      }
    ],
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 867000569,
          "message": {
            "message_id": 85,
            "from": {
              "id": 8722030592,
              "is_bot": false,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "language_code": "en"
            },
            "chat": {
              "id": 8722030592,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "type": "private"
            },
            "date": 1776380412,
            "text": "fiebre"
          }
        }
      }
    ],
    "AI Agent2": [
      {
        "json": {
          "output": "1. Respuesta breve:\nLa fiebre es una elevación de la temperatura corporal por encima de su rango normal, que generalmente se considera alrededor de los 37°C. Es una respuesta común de tu cuerpo que indica que está luchando contra una infección o alguna otra condición inflamatoria.\n\n2. Explicación:\nCuando tu organismo detecta la presencia de agentes externos como virus o bacterias, o una inflamación, el sistema inmune libera sustancias llamadas pirógenos. Estas sustancias actúan sobre el hipotálamo, la parte del cerebro que regula la temperatura, haciendo que eleve el \"punto de ajuste\" del termostato interno del cuerpo para combatir eficazmente la causa subyacente.\n\n3. Recomendación:\nEs fundamental mantenerse bien hidratado bebiendo abundante agua, zumos naturales o caldos. Se aconseja descansar adecuadamente y monitorear la temperatura regularmente. Si la fiebre es muy alta (más de 38.5-39°C), persiste por más de 24-48 horas, o si se acompaña de otros síntomas preocupantes como dificultad para respirar, dolor intenso, confusión o erupciones cutáneas, se debe consultar a un médico.\n\n4. Nivel de urgencia:\nMedio.\n\n5. Advertencia:\nEsta información es de carácter general y no debe interpretarse como un diagnóstico o tratamiento médico. Siempre es aconsejable consultar a un profesional de la salud para una evaluación adecuada de tus síntomas y un plan de manejo personalizado."
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b76dad52-98e7-4f0f-a4b6-d639337da0f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7b31977a1d8a788524451e091bfb2aa41fe01b91c4beac223ed036d4596a163"
  },
  "id": "D3dtcwIAQm2SYbTs",
  "tags": []
}