Autoevalucion con RAG.json
{
  "name": "Autoevalucion con RAG",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1856,
        80
      ],
      "typeVersion": 1,
      "id": "7c085659-ef01-4312-aafd-9b13a0615d8a",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cSSiOrbtQHjD1m8hmTmxFHKjA3a4mHex",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        176
      ],
      "id": "85a13f64-b80b-46ae-bc13-d7b4786fb06e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iCwexu6NZb6Zji2u",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1600,
        176
      ],
      "id": "ea883fb4-aaba-4e87-baac-e9b555a96171",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iCwexu6NZb6Zji2u",
          "name": "Google Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"userName\": \"{{ $json.lastModifyingUser.displayName }}\",\n  \"userEmail\":\"{{$json.lastModifyingUser.emailAddress}}\"\n  \"fileId\": \"{{$json.id}}\",\n  \"fileType\": \"{{ $binary.data.mimeType }}\",\n  \"fileName\":\"{{$json.name}}\"\n \n}",
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "parents, lastModifyingUser, owners, permissions, spaces, capabilities, permissionIds, linkShareMetadata, downloadRestrictions, kind, id, name, mimeType, starred, trashed, explicitlyTrashed, version, webContentLink, webViewLink, iconLink, hasThumbnail, thumbnailLink, thumbnailVersion, viewedByMe, viewedByMeTime, createdTime, modifiedTime, modifiedByMeTime, modifiedByMe, shared, ownedByMe, viewersCanCopyContent, copyRequiresWriterPermission, writersCanShare, originalFilename, fullFileExtension, fileExtension, md5Checksum, sha1Checksum, sha256Checksum, size, quotaBytesUsed, headRevisionId, isAppAuthorized, inheritedPermissionsDisabled",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        176
      ],
      "id": "9f6acf8c-466e-4e4f-8fcb-921f2e02d7bd",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e67c12f-8ab5-4ed0-b5f9-a0cab62625b8",
              "leftValue": "={{$json.fileType}}",
              "rightValue": "spreadsheet",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1280,
        176
      ],
      "id": "92cd01bf-4421-43f7-b97a-1dc50e3db122",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 1760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        416
      ],
      "typeVersion": 1,
      "id": "f5563b21-cea8-4ec8-a4ba-04b8d55930e1",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "result_type",
              "value": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        512
      ],
      "id": "7534c1ff-dea9-4f58-a265-7600bda70253",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "iqlEzrzibljYAexM",
          "name": "Header Auth Gemini"
        },
        "httpBearerAuth": {
          "id": "4Ng0dLRGFSzUb4P7",
          "name": "Bearer Auth llama cloud"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -656,
        512
      ],
      "id": "dbf36502-102e-4769-8c41-5c2c9a68a6b4",
      "name": "Wait",
      "webhookId": "9586c982-e446-4f81-acbd-fd3d1fce3d27",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -448,
        512
      ],
      "id": "0218676e-fc6c-4905-a92c-4d67a5cb8732",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "4Ng0dLRGFSzUb4P7",
          "name": "Bearer Auth llama cloud"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e0e6b26-3766-485b-b200-a2fff1148672",
              "leftValue": "={{$json.status}}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        512
      ],
      "id": "2a8f6987-26b5-438d-8a0b-f44ac0a36f91",
      "name": "If1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{$json.id}}/result/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"result_type\": \"markdown\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        496
      ],
      "id": "33e7c1de-95ff-4e16-b47d-159996ba3f17",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "4Ng0dLRGFSzUb4P7",
          "name": "Bearer Auth llama cloud"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a system that prepares documents for semantic search (RAG).\n\nYour task is to transform the input text into structured, high-quality chunks with metadata.\n\nOUTPUT FORMAT (STRICT):\nReturn a JSON array of objects. Each object must have:\n\n{\n\"text\": \"string\",\n\"source\": \"string\",\n\"chunk_index\": number,\n\"chunk_id\": string\n}\n\ncontent: the cleaned and structured chunk text\nsource: a short identifier of the document (infer from context if not provided, otherwise use \"unknown\")\nchunk_index: incremental index starting from 0\nchunk_id: must be exactly source + \"_\" + chunk_index\n\nRULES:\n\nEach chunk must contain COMPLETE information.\nMinimum 3 sentences per chunk.\nMaximum ~150 words.\nDO NOT create small or meaningless chunks.\nAvoid titles alone.\nAvoid slogans, headers, or isolated phrases.\nNEVER create a chunk that is only a title, heading, label, or course name.\nIf the text does not contain explanatory or actionable information, DISCARD it.\nGroup related content into the same chunk.\nMerge paragraphs that belong to the same topic.\nRemove noise:\nIgnore branding, slogans, repeated headers, or irrelevant text.\nPreserve meaning:\nDo not lose important information.\nKeep explanations complete.\nPrefer fewer high-quality chunks over many small ones.\nDo NOT split sentences.\nEach chunk must start and end at natural sentence boundaries.\nIgnore:\nlegal disclaimers\ninstitutional policies\ngeneric company descriptions\nOnly include information that helps answer real user questions.\nUseful information includes:\nskills learned\ntechnologies used\nhow something works\nsteps, processes, or explanations\noutcomes, results, or capabilities\nExclude vague or generic content such as:\n\"this course is constantly updated\"\n\"high quality experience\"\n\"designed for the modern world\"\nany generic marketing language\nEach chunk must be information-dense.\nAvoid chunks that are too general, repetitive, or low in informational value.\nPrioritize technical, educational, or explanatory content over descriptive or promotional text.\nIf a chunk contains multiple distinct topics, split them into separate chunks.\nAvoid duplicate chunks:\nIf multiple parts of the text repeat the same idea or phrase, include it only once.\nDo NOT generate semantically redundant chunks.\nEach chunk must provide UNIQUE value.\nIf removing the chunk does not reduce the overall understanding, DISCARD it.\nDiscard low-value text:\nStandalone titles\nSection names\nNavigation elements\nRepeated course names\nAny content shorter than 2 full sentences\nMetadata rules:\nchunk_index must increment sequentially (0, 1, 2, ...)\nsource must be consistent across all chunks from the same input\nIf a clear title, filename, or context exists, use it as source\nIf not, use \"unknown\"\nchunk_id must follow: source + \"_\" + chunk_index\nQuality over quantity:\nIt is better to return fewer chunks than to include low-quality ones.\nLanguage requirement (MANDATORY):\nALL chunks MUST be written in Spanish.\nIf the input text is in another language, TRANSLATE it to Spanish before chunking.\nDo NOT mix languages inside a chunk.\nEnsure the Spanish is natural, clear, and technically accurate.\nDO NOT include explanations outside the JSON.\n\nIMPORTANT:\n\nReturn ONLY valid JSON\nEscape all quotes inside strings using \"\nDo not include markdown (no ```json)\n\nReturn ONLY the JSON array.\n\nTEXT: {{ $json.markdown || $json.content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        240,
        496
      ],
      "id": "efaa8a41-0eab-4d0d-ab5b-a9119235be79",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Accedemos al texto generado por Gemini\nconst rawText = $json.content.parts[0].text;\n\n// 2. Parseamos el string a JSON real\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error(\"Error parseando JSON: \" + error.message);\n}\n\n// 3. Convertimos al formato que n8n espera (array de items)\nreturn parsed.map(item => ({\n  json: {\n    text: item.text,\n    source: item.source,\n    chunk_index: item.chunk_index,\n    chunk_id: item.chunk_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        496
      ],
      "id": "c47744f1-91da-4180-bb4e-04c9761e8156",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        32
      ],
      "typeVersion": 1,
      "id": "254ef975-961e-416d-bf13-8d497fb010a3",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1216,
        96
      ],
      "id": "d1f94ae3-2e24-4fdc-89a0-541b70f390b4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "OvjqC2Nun5s5rjYS",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        272
      ],
      "id": "6d42f856-e238-4df5-bb9b-608c8d5443b6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=source",
                "value": "={{$json.source}}"
              },
              {
                "name": "chunk_id",
                "value": "={{ $json.chunk_id }}"
              },
              {
                "name": "chunk_index",
                "value": "={{ $json.chunk_index }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1360,
        288
      ],
      "id": "aaf01bec-fa90-4448-a4dd-7ba906a57427",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -240,
        112
      ],
      "id": "fc370b6b-e298-4cbe-bc9e-9e05d5fea7ba",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Datos del archivo (vienen del nodo Edit Fields)\nconst fileData = $items(\"Edit Fields\")[0].json;\n\n// Datos principales (los registros)\nconst data = items.map(i => i.json);\n\n// Fuente (podés cambiarlo si querés)\nconst source = fileData.fileName || \"unknown\";\n\n// Transformación\nreturn data.map((item, index) => {\n  \n  // Convertimos el objeto a texto clave:valor\n  const text = Object.entries(item)\n    .map(([key, value]) => `${key}: ${value}`)\n    .join(\", \");\n\n  return {\n    json: {\n      text,\n      source,\n      chunk_index: index,\n      chunk_id: `${source}_${index}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        112
      ],
      "id": "505f3740-cb1b-425f-af92-7818426c946d",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 320,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        16
      ],
      "typeVersion": 1,
      "id": "cac94334-a202-41d3-b7f1-6dc44e2c6959",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 1616,
        "width": 3856
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        -576
      ],
      "typeVersion": 1,
      "id": "cf76db50-fb88-4666-8b4e-17e7f1220ceb",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1760,
        -1984
      ],
      "id": "000c5a72-c431-43f4-8fa9-2e3491b38668",
      "name": "Telegram Trigger",
      "webhookId": "5082f088-0502-45f7-8b81-0af416169fbc",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "prompt": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1568,
        -1984
      ],
      "id": "630dfd70-3f83-4979-94fb-cc5f7709cc9a",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "OvjqC2Nun5s5rjYS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1552,
        -1808
      ],
      "id": "f6d6383a-0c88-4542-a4c2-fad541b85a90",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [{ \"text\": \"{{ $('Supabase Vector Store1').item.json.document.pageContent }}\" }]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -816,
        -1344
      ],
      "id": "14701b04-f74b-4015-be75-a4ae4e5708c7",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iqlEzrzibljYAexM",
          "name": "Header Auth Gemini"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1120,
        -1984
      ],
      "id": "3919f26f-f979-4c40-abe5-50556ade7388",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta: {{ $('Telegram Trigger').item.json.message.text }}\nfragmentos recuperados: {{ JSON.stringify($('Aggregate').item.json.data )}}",
        "options": {
          "systemMessage": "Sos un asistente experto en odontología e historia de la medicina.\n\nTu tarea es responder preguntas ÚNICAMENTE utilizando la información proporcionada en el contexto.\n\n---------------------\nREGLAS IMPORTANTES\n---------------------\n\n1. Respondé SOLO con información del contexto.\n2. NO inventes información.\n3. Si la respuesta no está en el contexto, decí exactamente:\n   \"No se encontró información en el documento.\"\n4. No agregues conocimientos externos.\n5. Sé claro, preciso y bien estructurado.\n6. Si corresponde, resumí la información.\n7. Respondé en español.\n\n---------------------\nFORMATO DE RESPUESTA\n---------------------\n\n- Respuesta clara y directa.\n- Si aplica, podés usar viñetas.\n- No menciones el contexto ni el documento explícitamente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -864,
        -1984
      ],
      "id": "9138c422-e998-4dff-958c-87d4869b39ee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -896,
        -1760
      ],
      "id": "148b3b47-8bc8-4399-907e-a05cbf3c40ad",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Telegram Trigger').item.json.message.chat.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -720,
        -1744
      ],
      "id": "8d2f9b05-66db-42a4-ae00-5780dc779c73",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/gemini-embedding-001\",\n  \"content\": {\n    \"parts\": [{ \"text\": {{ JSON.stringify($('Edit Fields1').item.json.output)}} }]\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        -1984
      ],
      "id": "c492d7c3-0fdf-4544-b1fa-6a9b0a0cfff1",
      "name": "HTTP Request4",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iqlEzrzibljYAexM",
          "name": "Header Auth Gemini"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        -1824
      ],
      "id": "e014d759-91c9-4405-abb6-ced8e539c10a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\n// Inicializar si no existe\nif (!globalData.retries) {\n  globalData.retries = 0;\n}\n\n// Incrementar\nglobalData.retries += 1;\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    retries: globalData.retries\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -1824
      ],
      "id": "767b9242-82d7-4525-b1ae-7fe64be28913",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$('Code in JavaScript3').item.json.score}}",
                    "rightValue": 0.98,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "15479b19-df38-4296-bc00-54b5bceb7973"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05b33720-58e7-487c-af2a-303d3ce02774",
                    "leftValue": "={{$('Code in JavaScript3').item.json.retries}}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retries "
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        512,
        -1824
      ],
      "id": "b0b07337-316f-4ddd-85e7-f8f5769a79a4",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nglobalData.retries = 0;\nglobalData.embeddings = [];\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    retries: globalData.retries\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -2096
      ],
      "id": "d5910a09-27b3-443f-ba90-5bb2fef59141",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "={{$('AI Agent').item.json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        -2096
      ],
      "id": "47354950-7ee9-4bda-8367-6a7e518d1bdb",
      "name": "Send a text message",
      "webhookId": "b38857d9-4fb4-42d6-893e-cd00147f1b78",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nglobalData.retries = 0;\nglobalData.embeddings = [];\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    retries: globalData.retries\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -1872
      ],
      "id": "6dddf34e-d3bf-42d6-a7a8-d2ca52fc74be",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').item.json.message.chat.id}}",
        "text": "=Lo siento, no pude generar una respuesta médica confiable.\nTe recomiendo reformular la pregunta o consultar con un profesional.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -1872
      ],
      "id": "95b6f6a8-2977-4489-b9ee-28bb55e214ca",
      "name": "Send a text message1",
      "webhookId": "b38857d9-4fb4-42d6-893e-cd00147f1b78",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta: {{ $('Telegram Trigger').item.json.message.text }}\n\nRespuesta a corregir: {{$('AI Agent').item.json.output}}\n\nfragmentos recuperados: {{ JSON.stringify($('Aggregate').item.json.data )}}",
        "options": {
          "systemMessage": "Sos un asistente experto en corrección de respuestas en sistemas RAG.\n\nTu tarea es generar una NUEVA RESPUESTA corregida y mejorada.\n\nRecibirás:\n- Una \"Respuesta original\" (que puede ser incorrecta o incompleta)\n- Una \"Pregunta\"\n- \"Chunks recuperados\" (fuente de verdad)\n\n--------------------------------------------------\nOBJETIVO\n--------------------------------------------------\n\nGenerar una respuesta NUEVA que:\n- Responda correctamente la pregunta\n- Esté basada SOLO en los chunks\n- Corrija errores de la respuesta original\n- Complete información faltante si es posible\n\n--------------------------------------------------\nREGLAS IMPORTANTES\n--------------------------------------------------\n\n1. Usá únicamente la información de los chunks.\n2. NO inventes datos.\n3. NO uses conocimiento externo.\n4. Ignorá completamente cualquier parte incorrecta de la respuesta original.\n5. Si la respuesta original es útil, podés mejorarla.\n6. Si la respuesta original es incorrecta, rehacela desde cero.\n7. Si no hay suficiente información en los chunks, respondé exactamente:\n   \"No se encontró información en el documento.\"\n\n--------------------------------------------------\nESTILO DE RESPUESTA\n--------------------------------------------------\n\n- Clara y directa\n- Bien estructurada\n- Podés usar viñetas si ayuda\n- En español\n- Sin mencionar los chunks ni el proceso\n\n\nDevolvé SOLO la respuesta final corregida."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        -1536
      ],
      "id": "f7599398-3559-404c-bbb5-003af52af7ee",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "content": "\n",
        "height": 1520,
        "width": 3312
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        -2496
      ],
      "typeVersion": 1,
      "id": "a3e136bf-4d78-4e6a-86eb-1f1a7684f4c2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        -1312
      ],
      "id": "b5838f3a-8a30-4bd5-9070-7e6cae1ec30a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Telegram Trigger').item.json.message.chat.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        896,
        -1312
      ],
      "id": "83225f67-47fa-4f5f-99a8-20965c4ee0f0",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": \"{{$json.output}}\",\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -1984
      ],
      "id": "2c34da51-e14a-41c8-8318-5beac3ecd91d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\n// Asegurar estructura correcta (array)\nif (!Array.isArray(globalData.embeddings)) {\n  globalData.embeddings = [];\n}\n\n// Guardar (podés elegir push o replace)\n\n// OPCIÓN 1: reemplazar\nglobalData.embeddings = $input.all().map(\n  item => item.json.embedding.values\n);\n\n// OPCIÓN 2: acumular (más común en RAG)\n// globalData.embeddings.push(data);\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -1536
      ],
      "id": "f68d432f-8f1e-4ad0-a762-c832607448bc",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\n// Validar embeddings guardados\nif (!globalData.embeddings || !Array.isArray(globalData.embeddings)) {\n  throw new Error('No hay embeddings en memoria global');\n}\n\n// Obtener embedding de la pregunta (primer item del input)\nconst queryEmbedding = $input.first().json.embedding.values;\n\n// Embeddings de los fragmentos guardados\nconst storedEmbeddings = globalData.embeddings;\n\n// Función cosine similarity\nfunction cosineSimilarity(a, b) {\n  let dot = 0.0;\n  let normA = 0.0;\n  let normB = 0.0;\n\n  for (let i = 0; i < a.length; i++) {\n    dot += a[i] * b[i];\n    normA += a[i] * a[i];\n    normB += b[i] * b[i];\n  }\n\n  normA = Math.sqrt(normA);\n  normB = Math.sqrt(normB);\n\n  if (normA === 0 || normB === 0) return 0;\n\n  return dot / (normA * normB);\n}\n\n// Calcular similitudes contra todos los chunks\nconst similarities = storedEmbeddings.map(chunkEmbedding =>\n  cosineSimilarity(queryEmbedding, chunkEmbedding)\n);\n\n// Normalizar [−1,1] → [0,1]\nconst normalizedSimilarities = similarities.map(s => (s + 1) / 2);\n\n// Score global (promedio)\nconst score =\n  normalizedSimilarities.reduce((acc, val) => acc + val, 0) /\n  normalizedSimilarities.length;\n\n// 🔥 (opcional pero MUY útil en RAG)\nconst ranked = normalizedSimilarities\n  .map((sim, index) => ({\n    index,\n    similarity: sim,\n    embedding: storedEmbeddings[index]\n  }))\n  .sort((a, b) => b.similarity - a.similarity);\n\n// Output\nreturn [\n  {\n    json: {\n      score,\n      similarities: normalizedSimilarities,\n      topK: ranked.slice(0, 5) // los 5 más parecidos\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -1824
      ],
      "id": "d2bedd8e-e0d3-4086-81be-57bb4302fb10",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "content": "# 1. Api REST (v)\n# 2. Webhooks (v)\n# 3. Fallbacks\n# 4. Observabilidad\n# 5. RAG (v)\n# 6. multimodalidad\n# 7. Human-in-the-Loop\n# 8. Autoevaluación (v)",
        "height": 480,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        -3184
      ],
      "typeVersion": 1,
      "id": "89c45c6c-df19-4181-a359-8ab489ce1554",
      "name": "Sticky Note16",
      "disabled": true
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -1168
      ],
      "id": "886e0f04-616f-4c76-a4c8-3f346d53f48d",
      "name": "Send a text message2",
      "webhookId": "f1528684-9141-4a93-95e7-5a3d226ec2d2",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -1168
      ],
      "id": "08261134-d33e-47e4-ab7b-06e6a15b9897",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZDc22wHfMLINIevk",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        160,
        -1168
      ],
      "id": "2df1a00b-e5f3-4798-a902-861dfeab96f0",
      "name": "Send a message",
      "webhookId": "87f8553d-c14d-4790-a42f-24de4acec2b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "eREIjaCT0HjVHozu",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Observabilidad , feedback y hitl",
        "height": 336,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -1328
      ],
      "typeVersion": 1,
      "id": "45ae09f6-d354-492c-8af9-09cd93c239d6",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "Extract from File": [
      {
        "json": {
          "ID": 1,
          "Nombre": "Ana",
          "Edad": 29,
          "Pais": "Argentina",
          "IngresoMensual": 3200
        }
      },
      {
        "json": {
          "ID": 2,
          "Nombre": "Luis",
          "Edad": 41,
          "Pais": "Chile",
          "IngresoMensual": 4100
        }
      },
      {
        "json": {
          "ID": 3,
          "Nombre": "María",
          "Edad": 35,
          "Pais": "México",
          "IngresoMensual": 3800
        }
      },
      {
        "json": {
          "ID": 4,
          "Nombre": "Carlos",
          "Edad": 50,
          "Pais": "España",
          "IngresoMensual": 4500
        }
      },
      {
        "json": {
          "ID": 5,
          "Nombre": "Lucía",
          "Edad": 27,
          "Pais": "Colombia",
          "IngresoMensual": 2900
        }
      }
    ],
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 507696323,
          "message": {
            "message_id": 12,
            "from": {
              "id": 8722030592,
              "is_bot": false,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "language_code": "es"
            },
            "chat": {
              "id": 8722030592,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "type": "private"
            },
            "date": 1776811239,
            "text": "¿Dónde se originó la odontología?"
          }
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "Según Cunha, la profesión odontológica nació en Mesopotamia."
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dfc1c50e-f7d6-47d6-afed-50831a414233",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7b31977a1d8a788524451e091bfb2aa41fe01b91c4beac223ed036d4596a163"
  },
  "id": "laz00GfGQeWT9hNe",
  "tags": []
}