Multimodal chat with image.json
{
  "name": "Multimodal chat with image",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3a620717-2158-4ca4-96ed-effc640a161d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -64
      ],
      "id": "1c8bd757-d058-4f88-bc6c-9a0d90409330",
      "name": "Webhook",
      "webhookId": "3a620717-2158-4ca4-96ed-effc640a161d"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        320,
        -272
      ],
      "id": "c694b0b7-61e3-42f6-9536-c0d765094e90",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analiza la imagen adjunta.Explica claramente qué contiene la imagen, qué significa en contexto y brinda una respuesta útil.\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{$binary.data.mimeType}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        -272
      ],
      "id": "b33ec02f-772a-4f66-a13d-7e47e6dbee1c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "L20BaNa9uOyvrsEB",
          "name": "Header Auth Gemini"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[USER QUESTION]\n{{$('Webhook').item.json.body.text}}\n\n[IMAGE DESCRIPTION - GENERATED BY GEMINI]\n{{ $json.candidates[0].content.parts[0].text }}",
        "options": {
          "systemMessage": "You are an AI assistant that answers user questions based on image context.\n\nINPUT STRUCTURE:\nYou will receive:\n1. A user question\n2. A text description of an image generated previously by another AI (Gemini)\n\nIMPORTANT:\n- The image is NOT directly available to you.\n- You must rely ONLY on the provided image description (generated by Gemini) to understand the visual content.\n\nYOUR TASK:\n- Answer the user’s question using the image description as your main source of truth.\n- Combine the user’s question + the image description to produce a clear and accurate answer.\n\nRULES:\n- Do NOT say things like “I cannot see the image”.\n- Assume the description is correct and complete.\n- If the answer is not explicitly in the description, infer logically but do not hallucinate.\n- If the description is insufficient, say so clearly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        864,
        -272
      ],
      "id": "29bfc1cd-164c-4991-8516-fce9a8460c03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        -96
      ],
      "id": "4c910745-bac0-43cc-910a-b2359d8b9181",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.tel }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1600,
        624
      ],
      "id": "9072bbc2-1c40-46b4-8759-d1e0b851ca4e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        -64
      ],
      "id": "bf007e87-6d1f-483a-a25e-f48de86a55a9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7650c39-efa4-46ad-88ed-27806249b18f",
              "leftValue": "={{ $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        -64
      ],
      "id": "a53d814c-9665-44c9-8ec5-0de4050817bc",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        224
      ],
      "id": "5d937b19-5340-4f3b-a0e4-c23415190023",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        400
      ],
      "id": "9adeb629-df32-4371-b13f-056d01969529",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        176
      ],
      "typeVersion": 1,
      "id": "2b3743f9-8014-4c05-8067-f94cda4f358e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 1040,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -352
      ],
      "typeVersion": 1,
      "id": "3c0ea7d5-7aad-46d1-a14d-2ec13a836912",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -160
      ],
      "typeVersion": 1,
      "id": "f2728a43-f54f-49bc-8f01-901260f6b5a4",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "30df6ec7-8f10-466a-8814-ce780e1a25b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98611db8140f0447c39c8e56666f9a86ee6ca617237fbb551230c599687176fd"
  },
  "id": "VM8PRLNzlh5Po6z9",
  "tags": []
}