RAG Clase 4.json
{
  "name": "RAG Clase 4",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        896
      ],
      "typeVersion": 1,
      "id": "3c1be49e-9a8e-4459-b6bc-10afa1394d23",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cSSiOrbtQHjD1m8hmTmxFHKjA3a4mHex",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        192,
        992
      ],
      "id": "5bccd7e8-7cc3-46af-af1f-d9e34f385a58",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "znXmy1wUJ289VZiM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        992
      ],
      "id": "126d4adf-51f4-4c6f-a291-e90f97048189",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "znXmy1wUJ289VZiM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"userName\": \"{{ $json.lastModifyingUser.displayName }}\",\n  \"userEmail\":\"{{$json.lastModifyingUser.emailAddress}}\"\n  \"fileId\": \"{{$json.id}}\",\n  \"fileType\": \"{{ $binary.data.mimeType }}\",\n  \"fileName\":\"{{$json.name}}\"\n \n}",
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "parents, lastModifyingUser, owners, permissions, spaces, capabilities, permissionIds, linkShareMetadata, downloadRestrictions, kind, id, name, mimeType, starred, trashed, explicitlyTrashed, version, webContentLink, webViewLink, iconLink, hasThumbnail, thumbnailLink, thumbnailVersion, viewedByMe, viewedByMeTime, createdTime, modifiedTime, modifiedByMeTime, modifiedByMe, shared, ownedByMe, viewersCanCopyContent, copyRequiresWriterPermission, writersCanShare, originalFilename, fullFileExtension, fileExtension, md5Checksum, sha1Checksum, sha256Checksum, size, quotaBytesUsed, headRevisionId, isAppAuthorized, inheritedPermissionsDisabled",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        992
      ],
      "id": "85fbfb25-0c0e-42f6-8b54-9dceb31025bb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e67c12f-8ab5-4ed0-b5f9-a0cab62625b8",
              "leftValue": "={{$json.fileType}}",
              "rightValue": "spreadsheet",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        1008
      ],
      "id": "6f34ea10-74e5-45b7-aabf-edd5ffcfb97a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 1760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        1232
      ],
      "typeVersion": 1,
      "id": "e782af8c-1ea2-4b60-8d59-a74de58d3844",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\":\"Bearer llx-Fz8OJUBzIEiqwpjZzVioDfCH02AfYRaxgK7moORZ9z2EPBu1\"\n}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "result_type",
              "value": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        1328
      ],
      "id": "aada416c-e79c-4840-b3b1-cb46294a8913",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        1328
      ],
      "id": "aa49251e-b15f-4ed4-850a-a3eada169595",
      "name": "Wait",
      "webhookId": "9586c982-e446-4f81-acbd-fd3d1fce3d27"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\":\"Bearer llx-Fz8OJUBzIEiqwpjZzVioDfCH02AfYRaxgK7moORZ9z2EPBu1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        1328
      ],
      "id": "6335c37c-3a5b-405b-9483-a072e766ab3b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e0e6b26-3766-485b-b200-a2fff1148672",
              "leftValue": "={{$json.status}}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        1328
      ],
      "id": "7a526cb8-2017-42bf-9652-892a6d607d55",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{$json.id}}/result/markdown",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"result_type\": \"markdown\"\n}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer llx-Fz8OJUBzIEiqwpjZzVioDfCH02AfYRaxgK7moORZ9z2EPBu1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        1312
      ],
      "id": "89736187-64cb-4501-b28c-802151f66dc8",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a system that prepares documents for semantic search (RAG).\n\nYour task is to transform the input text into structured, high-quality chunks with metadata.\n\nOUTPUT FORMAT (STRICT):\nReturn a JSON array of objects. Each object must have:\n\n{\n  \"text\": \"string\",\n  \"source\": \"string\",\n  \"chunk_index\": number,\n  \"chunk_id\": string\n}\n\n- content: the cleaned and structured chunk text\n- source: a short identifier of the document (infer from context if not provided, otherwise use \"unknown\")\n- chunk_index: incremental index starting from 0\n- chunk_id: must be exactly source + \"_\" + chunk_index\n\nRULES:\n\n1. Each chunk must contain COMPLETE information.\n   - Minimum 3 sentences per chunk.\n   - Maximum ~150 words.\n\n2. DO NOT create small or meaningless chunks.\n   - Avoid titles alone.\n   - Avoid slogans, headers, or isolated phrases.\n\n3. NEVER create a chunk that is only a title, heading, label, or course name.\n   - If the text does not contain explanatory or actionable information, DISCARD it.\n\n4. Group related content into the same chunk.\n   - Merge paragraphs that belong to the same topic.\n\n5. Remove noise:\n   - Ignore branding, slogans, repeated headers, or irrelevant text.\n\n6. Preserve meaning:\n   - Do not lose important information.\n   - Keep explanations complete.\n\n7. Prefer fewer high-quality chunks over many small ones.\n\n8. Do NOT split sentences.\n   - Each chunk must start and end at natural sentence boundaries.\n\n9. Ignore:\n   - legal disclaimers\n   - institutional policies\n   - generic company descriptions\n\n10. Only include information that helps answer real user questions.\n\n11. Useful information includes:\n   - skills learned\n   - technologies used\n   - how something works\n   - steps, processes, or explanations\n   - outcomes, results, or capabilities\n\n12. Exclude vague or generic content such as:\n   - \"this course is constantly updated\"\n   - \"high quality experience\"\n   - \"designed for the modern world\"\n   - any generic marketing language\n\n13. Each chunk must be information-dense.\n   - Avoid chunks that are too general, repetitive, or low in informational value.\n\n14. Prioritize technical, educational, or explanatory content over descriptive or promotional text.\n\n15. If a chunk contains multiple distinct topics, split them into separate chunks.\n\n16. Avoid duplicate chunks:\n   - If multiple parts of the text repeat the same idea or phrase, include it only once.\n   - Do NOT generate semantically redundant chunks.\n\n17. Each chunk must provide UNIQUE value.\n   - If removing the chunk does not reduce the overall understanding, DISCARD it.\n\n18. Discard low-value text:\n   - Standalone titles\n   - Section names\n   - Navigation elements\n   - Repeated course names\n   - Any content shorter than 2 full sentences\n\n19. Metadata rules:\n   - chunk_index must increment sequentially (0, 1, 2, ...)\n   - source must be consistent across all chunks from the same input\n   - If a clear title, filename, or context exists, use it as source\n   - If not, use \"unknown\"\n   - chunk_id must follow: source + \"_\" + chunk_index\n\n20. Quality over quantity:\n   - It is better to return fewer chunks than to include low-quality ones.\n\n21. DO NOT include explanations outside the JSON.\n\nIMPORTANT:\n- Return ONLY valid JSON\n- Escape all quotes inside strings using \\\"\n- Do not include markdown (no ```json)\n\nReturn ONLY the JSON array.\n\nTEXT: {{ $json.markdown || $json.content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2208,
        1312
      ],
      "id": "0239e508-76b8-413b-9342-e5590979a7ea",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7k4Ne43TbVjLiIH0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Accedemos al texto generado por Gemini\nconst rawText = $json.content.parts[0].text;\n\n// 2. Parseamos el string a JSON real\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawText);\n} catch (error) {\n  throw new Error(\"Error parseando JSON: \" + error.message);\n}\n\n// 3. Convertimos al formato que n8n espera (array de items)\nreturn parsed.map(item => ({\n  json: {\n    text: item.text,\n    source: item.source,\n    chunk_index: item.chunk_index,\n    chunk_id: item.chunk_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        1312
      ],
      "id": "cd22add2-2631-4d5c-a45b-ec5508871ed3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3024,
        848
      ],
      "typeVersion": 1,
      "id": "7385bcc5-26fb-4f11-b16a-a4e59789474b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3184,
        912
      ],
      "id": "ef8628ce-0bdb-4b74-822a-e4232f88fa67",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "0cZ6CKqheFT4PHU7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3136,
        1088
      ],
      "id": "27b98205-dfca-474b-bf09-dab39ada2c3d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7k4Ne43TbVjLiIH0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{$json.text}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=source",
                "value": "={{$json.source}}"
              },
              {
                "name": "chunk_id",
                "value": "={{ $json.chunk_id }}"
              },
              {
                "name": "chunk_index",
                "value": "={{ $json.chunk_index }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3328,
        1104
      ],
      "id": "98333d24-0d4b-4ab3-8ad3-d43424cd3e36",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "",
        "height": 736,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -112
      ],
      "typeVersion": 1,
      "id": "adddfa1d-9eaf-4b79-831c-7bdf630f384b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        368,
        48
      ],
      "id": "783ce5d1-e6a5-4c1e-86d2-3a3e47d7b6c3",
      "name": "When chat message received",
      "webhookId": "1d2476ee-a3f6-49b1-83fb-113f08fd11ee"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos un asistente especializado en cursos de programación y tecnología.\n\nTu objetivo es responder consultas de forma clara, breve y útil, mientras guiás la conversación para entender mejor al usuario.\n\nComportamiento:\n\n- Iniciá la conversación de forma amigable.\n- Preguntá el nombre del usuario si no lo sabés.\n- Hacé preguntas simples para entender qué está buscando (ej: qué quiere aprender, nivel, objetivo).\n- Mantené la conversación natural, como chat de WhatsApp.\n\nReglas:\n\n- Respondé siempre en español.\n- Sé breve y directo (máximo 3-5 oraciones por mensaje).\n- No des toda la información de golpe: guiá la conversación paso a paso.\n- Priorizá información concreta: contenido, tecnologías, duración, modalidad, requisitos y resultados.\n- No inventes información. Si no está en el contexto, decilo claramente.\n- Evitá lenguaje de marketing genérico.\n- No repitas la pregunta del usuario.\n- Si la consulta es ambigua, hacé una pregunta aclaratoria.\n- Adaptá la respuesta según lo que el usuario ya dijo.\n\nEstilo:\n\n- Cercano, claro y profesional.\n- Como un asesor humano, no como un robot.\n- Usá frases cortas.\n\nFormato de respuesta:\n\n- Texto simple, sin títulos ni markdown.\n- Máximo 3-5 oraciones.\n- Puede incluir 1 pregunta para continuar la conversación.\n\nContexto:\n\nUsá exclusivamente la información proporcionada en el contexto (RAG). No uses conocimiento externo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        48
      ],
      "id": "3a725295-e6c4-4d2e-84be-a16ddc88773a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        272
      ],
      "id": "1c822280-251c-458a-b6d1-c0f02f95d61e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7k4Ne43TbVjLiIH0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve relevant information about programming courses, including curriculum, modules, pricing, schedules, and target audience. \n\nAlways use this tool when the user asks about course details, content, enrollment, technologies (e.g., React, Next.js, Python), or any related information. \n\nRetrieve all relevant information needed to fully answer the question. If the user asks for lists (e.g., modules), return ALL relevant items.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 35,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        848,
        224
      ],
      "id": "c2ec1ba5-4d3e-43dd-a835-522b71d1ed85",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "0cZ6CKqheFT4PHU7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        384
      ],
      "id": "babece4c-ecc2-4b7e-984c-e9de2591321b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "7k4Ne43TbVjLiIH0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1728,
        928
      ],
      "id": "d6662e1d-5d3c-4174-bd5b-31c61a6cd098",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Datos del archivo (vienen del nodo Edit Fields)\nconst fileData = $items(\"Edit Fields\")[0].json;\n\n// Datos principales (los registros)\nconst data = items.map(i => i.json);\n\n// Fuente (podés cambiarlo si querés)\nconst source = fileData.fileName || \"unknown\";\n\n// Transformación\nreturn data.map((item, index) => {\n  \n  // Convertimos el objeto a texto clave:valor\n  const text = Object.entries(item)\n    .map(([key, value]) => `${key}: ${value}`)\n    .join(\", \");\n\n  return {\n    json: {\n      text,\n      source,\n      chunk_index: index,\n      chunk_id: `${source}_${index}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        928
      ],
      "id": "59b1a800-c24b-4fb6-b487-2fd0b2edabad",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "",
        "height": 320,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        832
      ],
      "typeVersion": 1,
      "id": "4e8407e8-f500-41ca-a73e-16dbbba720ff",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        272
      ],
      "id": "a7471758-e06e-45b7-84c0-60f44ed0c339",
      "name": "Simple Memory"
    }
  ],
  "pinData": {
    "Extract from File": [
      {
        "json": {
          "ID": 1,
          "Nombre": "Ana",
          "Edad": 29,
          "Pais": "Argentina",
          "IngresoMensual": 3200
        }
      },
      {
        "json": {
          "ID": 2,
          "Nombre": "Luis",
          "Edad": 41,
          "Pais": "Chile",
          "IngresoMensual": 4100
        }
      },
      {
        "json": {
          "ID": 3,
          "Nombre": "María",
          "Edad": 35,
          "Pais": "México",
          "IngresoMensual": 3800
        }
      },
      {
        "json": {
          "ID": 4,
          "Nombre": "Carlos",
          "Edad": 50,
          "Pais": "España",
          "IngresoMensual": 4500
        }
      },
      {
        "json": {
          "ID": 5,
          "Nombre": "Lucía",
          "Edad": 27,
          "Pais": "Colombia",
          "IngresoMensual": 2900
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6fc94f44-a5f4-4ae9-b5b7-9017d81c5bba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a9b02fa3633aab9840a886f39057040de095b9f61e9688619e96e949ba177dd"
  },
  "id": "7fcrMwRkFxYkn81v",
  "tags": []
}