Respuesta por audio.json
{
  "name": "Respuesta por audio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c39c5e59-1eac-4c6b-8ac1-427405282be6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        -32
      ],
      "id": "39089581-542a-44fc-a25d-c01691b13192",
      "name": "Webhook",
      "webhookId": "c39c5e59-1eac-4c6b-8ac1-427405282be6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Transcribí este audio en español. Devolvé solo el texto.\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"audio/ogg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        -272
      ],
      "id": "1981de7b-3871-4e02-81a0-f2b7eeecd5c9",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "AUlSHk5qimJEqCRH",
          "name": "Bearer Auth Gemini"
        },
        "httpHeaderAuth": {
          "id": "L20BaNa9uOyvrsEB",
          "name": "Header Auth Gemini"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -32,
        -272
      ],
      "id": "7422d5dc-55ef-4283-9dff-732ded435cdf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text}}",
        "options": {
          "systemMessage": "Actúa como experto en automatización (n8n e IA). Tu objetivo es convertir consultas de WhatsApp en oportunidades de reunión con respuestas de voz breves (máx. 12 segundos).\n\nDirectrices de respuesta:\n\nExtensión Estricta: Máximo 35 palabras (aprox. 3-4 líneas cortas).\n\nEstructura: Empatía rápida + Valor de negocio (ahorro/eficiencia) + CTA (Llamado a la acción).\n\nTono: Profesional, directo y humano.\n\nIdioma: Español.\n\nRestricciones de formato:\n\nNo uses listas ni emojis (para evitar errores de lectura en ElevenLabs).\n\nUsa oraciones cortas y puntuación clara para mejorar la naturalidad del audio.\n\nEvita tecnicismos excesivos si el cliente no los usó primero.\n\nEjemplo de salida esperada:\n\"Entiendo el desafío. Podemos integrar n8n con tu CRM para automatizar esas tareas y ahorrarte horas semanales. ¿Te parece si agendamos una breve llamada para mostrarte cómo implementarlo?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -272
      ],
      "id": "f20e875f-f56c-4622-849b-18b9467a1766",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        -32
      ],
      "id": "ea6a7e90-4f82-4381-b172-c103764f3bf1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        -272
      ],
      "id": "d834c4a8-41fd-4b83-914b-cd02e13dff6c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ca587579-0851-4275-aa5e-9078d3276b0a",
              "leftValue": "={{$binary.data}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        -32
      ],
      "id": "6a3ee720-aedc-4e80-86c1-4b17ae4ccc44",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.tel}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        864
      ],
      "id": "6e269903-49eb-4d75-a8c6-a6a4cfe244dd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \"{{$json.candidates[0].content.parts[0].text}}\",\n\"tel\":{{ $('Webhook').item.json.body.tel }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -272
      ],
      "id": "97af696c-f656-4db2-a755-011b2d34fdaf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"text\": \" {{ $json.body.text }}\",\n  \"tel\":\"{{ $json.body.tel }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        352
      ],
      "id": "fafd3c7e-41f8-4d67-9459-8ca62f08736f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -112
      ],
      "typeVersion": 1,
      "id": "eab657e5-c4fc-4532-be6a-0d982b7b86bb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/Ejn6IMiIDA0kNBW4lWR7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{$json.output}}\",\n  \"model_id\": \"eleven_multilingual_v2\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -272
      ],
      "id": "372bcfe5-00f5-402d-b3bc-7d36198a89da",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sazO2ditJqw6rpHd",
          "name": "Header Auth Elevenlab"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = items[0].json.output;\n\n// Opción A: Reemplazar saltos de línea por un espacio\nconst cleanedText = text.replace(/\\n/g, ' ');\n\n// Opción B: Eliminar los saltos de línea por completo (sin espacios)\n// const cleanedText = text.replace(/\\n/g, '');\n\nreturn {\n  output: cleanedText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -272
      ],
      "id": "d809d87b-3634-48bc-930e-1bdb3ee28964",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "",
        "height": 592,
        "width": 1936,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -432
      ],
      "typeVersion": 1,
      "id": "d2cba0e1-29de-4d9b-8eb2-a5a63634e850",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text}}",
        "options": {
          "systemMessage": "Actúa como experto en automatización (n8n e IA). Tu objetivo es convertir consultas de WhatsApp en oportunidades de reunión con respuestas de voz breves (máx. 12 segundos).\n\nDirectrices de respuesta:\n\nExtensión Estricta: Máximo 35 palabras (aprox. 3-4 líneas cortas).\n\nEstructura: Empatía rápida + Valor de negocio (ahorro/eficiencia) + CTA (Llamado a la acción).\n\nTono: Profesional, directo y humano.\n\nIdioma: Español.\n\nRestricciones de formato:\n\nNo uses listas ni emojis (para evitar errores de lectura en ElevenLabs).\n\nUsa oraciones cortas y puntuación clara para mejorar la naturalidad del audio.\n\nEvita tecnicismos excesivos si el cliente no los usó primero.\n\nEjemplo de salida esperada:\n\"Entiendo el desafío. Podemos integrar n8n con tu CRM para automatizar esas tareas y ahorrarte horas semanales. ¿Te parece si agendamos una breve llamada para mostrarte cómo implementarlo?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        352
      ],
      "id": "9ceed32b-a290-43d0-97ce-caae3e6ed3d1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        560
      ],
      "id": "fcd39fa3-af33-4cae-88f8-95af1d4ab215",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        352
      ],
      "id": "d415e4f9-d738-47e6-b897-cd8e1b8d615f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        256
      ],
      "typeVersion": 1,
      "id": "82911e60-c89d-4c73-a6bc-9a6a974f864a",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f9ae7edb-cda6-40d4-9915-8b60e77a43a3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98611db8140f0447c39c8e56666f9a86ee6ca617237fbb551230c599687176fd"
  },
  "id": "N6WW9crnaBftnWep",
  "tags": []
}